<footer class="w-full py-4 rounded-lg shadow bg-slate-900 relative flex-none">
    <hr class="my-2 border-gray-700">
    <span class="block text-sm sm:text-center text-gray-400">© 2022 JPLDG
    </span>
</footer>

