<div class="max-w-[512px] mx-auto flex flex-col gap-4 place-items-center justify-center my-auto pt-10">
  <div>
    <div class="flex flex-col justify-center gap-2">
      <h2 class="text-4xl font-extrabold dark:text-white text-center">Welcome to Avion Trading</h2>
      <p class="mt-4 text-lg text-gray-500">Your companion to assure the security of tomorrow.</p>
      <p class="mt-4 text-lg text-gray-500 text-justify">"I will tell you how to become rich. Close the doors. Be fearful when others are greedy. Be greedy when others are fearful." — Warren Buffett</p>
    </div>
  </div>
  <div class="">
    <%= image_tag ("https://cdn-icons-png.flaticon.com/512/7172/7172431.png"), class: 'max-w-full h-auto' %>
  </div>
</div>
